  
<div id="page_wrapper">
<div id="profile_image">
	<%= image_tag "profile.jpg" %>
</div>
<div id="content">
	<h1>Hey, I'm Mansi Meshram</h1>
	<p> Welcome to the blog , This is my first blog page</p>
	<p> I'll be posting new blogs every week , stay tuned!! </p>
	</div> 
</div>